html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

a,
a:active {
    text-decoration: none;
    color: #181C29;
}

.container {
        width: 88.61%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    width: 141px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.logo img {
    width: 24px;
    height: 24px;
}

.container h2 {
    margin: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
}

.navigation {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style-type: none;
    display: flex;
}

.navigation li a {
    box-sizing: border-box;
    padding: 12px 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    cursor: pointer;
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.navigation li.active-link {
    color: #FF4646;
    background: rgba(255, 70, 70, 0.1);
    border-radius: 12px;
    cursor: default;
    padding: 12px 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
}

.hamburger-menu {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}


#menu-toggle {
    display: none;
}

.menu-button {
    display: block;
    position: relative;
    background: transparent;
}

.menu-button:before,
.menu-button:after {
    content: '';
    background-color: #181C29;
    position: absolute;
    width: 20px;
    height: 1px;
    left: 10px;
    transition: transform 0.3s ease;
}


.menu-button:before {
    top: 15px;
}


.menu-button:after {
    top: 24px;
}

.navigation.open ~.hamburger-menu .menu-button:before {
    transform: rotateZ(45deg);
    margin-top: 10px;
    top: 10px;
}

.navigation.open ~.hamburger-menu .menu-button:after {
    transform: rotateZ(135deg);
    margin-top: 10px;
    top: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(24, 28, 41, 0.8);
    z-index: 4;
    transition: transform 0.5s ease;
}

.popup {
    position: relative;
    max-width: 400px;
    width: auto;
    height: auto;
    border-radius: 20px;
    z-index: 5;
    background-color: #ECF3F8;
}

.popup-img {
    width: auto;
    height: 230px;
}

.popup-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.description {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background: #FFFFFF;
    color: #181C29;
}

.popup-heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.popup-heading .subheading {
    letter-spacing: 0.08em;
}



.popup-close {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.gift-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    letter-spacing: normal;
}

.superpowers-header {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    margin: 0;
}

.superpowers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.superpowers-item {
    display: flex;
    height: 24px;
    gap: 12px;
}

.superpowers-item-name {
    width: 51%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
}

.superpowers-item-rate {
    width: 40px;
    height: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
}

.superpowers-item-stars {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.superpowers-item-stars img {
    width: 16px;
    height: 16px;
}

.gifts {
    width: 100%;
    height: auto;
    padding: 60px 8px;
    background-image: url('../assets/images/gyrland.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifts-content {
    width: 89%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.gifts-heading {
    width: 33.4%;
    /* height: 144px; */
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}

.tabs {
    width: 37%;
    /* height: 4rem; */
    display: flex;
    justify-content: space-between;
}

.tab {
    padding: 12px 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.tab.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    cursor: default;
}

.cards-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.card {
    width: 310px;
    height: 342px;
    border-radius: 20px;
    background-color: rgba(236, 243, 248, 1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card img {
    width: 100%;
    height: 230px;
}

.text-container {
    height: 90px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0 0 20px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.subheading {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 148%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.text-container p {
    letter-spacing: 0.09em;
}

.text-container h4:nth-child(1) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.for {
    margin: 0;
}

h4.for-work {
    color: #4361FF;
}

h4.for-health {
    color: #06A44F;
}

h4.for-harmony {
    color: #FF43F7;
}

footer {
    width: 100%;
    height: 496px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.caption {
    padding: 0;
    margin: 0;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.footer-content {
    width: 127.6rem;
    height: 37.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.contacts {
    width: 100%;
    height: 20.4rem;
    display: flex;
    gap: 1.2rem;
}

.contact {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #ECF3F8;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact img {
    width: 8rem;
    height: 8rem;
}

.authors {
    width: 100%;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.socials {
    width: 19.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;
}

.social {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.authors .caption {
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.contact .subheading {
    letter-spacing: 0.09em;
}
.footer-content {
    width: 100%;
    height: 75.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.contacts {
    width: 100%;
    height: 204px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #ECF3F8;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact img {
    width: 80px;
    height: 80px;
}

.authors {
    width: 100%;
    /* height: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.socials {
    /* width: 15.36%; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.social {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.authors .caption {
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.contact .subheading {
    letter-spacing: 0.09em;
}

.contact .heading {
    letter-spacing: 0.18em;
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Allura;
    src: url('../assets/fonts/Allura-Regular.ttf');
    font-style: normal;
}

@media (hover: hover) {
    .navigation li a:hover {
        color: #FF4646;
        background: rgba(255, 70, 70, 0.1);
        border-radius: 1.2rem;
        transition: all 0.5s ease;
    }

    .navigation li:hover a {
        color: #FF4646;
    }
    
    .tab:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1.2rem;
        cursor: pointer;
    }

    .card:hover .text-container p {
        color: #FF4646;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }

    .contact:hover h2,
    .contact:hover p {
        color: #FF4646;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }

    .social:hover path {
        stroke: #FF4646;
        transition: all 0.5s ease-in-out;

    }

    .authors .caption:hover {
        color: #FF4646;
    }

}