html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0;
}

a,
a:active {
    text-decoration: none;
    color: #181C29;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 70, 70, 1);
    border-radius: 2rem;
    margin-top: -1px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.4rem;
    background: #FFFFFF;
}

.header-wrapper {
    width: 127.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 14.1rem;
    height: 4rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.logo img {
    width: 2.4rem;
    height: 2.4rem;
}

.logo h2 {
    margin: 0;
    width: 6.9rem;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
}

.navigation {
    width: 112.3rem;
    height: 4rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.8rem;
    padding: 0;
}

.navigation li {
    list-style-type: none;
    display: flex;
}

.navigation li a {
    box-sizing: border-box;
    padding: 1.2rem 2rem;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    cursor: pointer;
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.navigation li.active-link {
    color: #FF4646;
    background: rgba(255, 70, 70, 0.1);
    border-radius: 1.2rem;
    cursor: default;
    padding: 1.2rem 2rem;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
}

.hamburger-menu {
    display: none;
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 3;
    cursor: pointer;
}


#menu-toggle {
    display: none;
}

.menu-button {
    display: block;
    position: relative;
    background: transparent;
}

.menu-button:before,
.menu-button:after {
    content: '';
    background-color: #181C29;
    position: absolute;
    width: 20px;
    height: 1px;
    left: 10px;
    transition: transform 0.3s ease;
}


.menu-button:before {
    top: 15px;
}


.menu-button:after {
    top: 24px;
}

.navigation.open~.hamburger-menu .menu-button:before {
    transform: rotateZ(45deg);
    left: 1rem;
    top: 1rem;
}

.navigation.open~.hamburger-menu .menu-button:after {
    transform: rotateZ(135deg);
    left: 1rem;
    top: 1rem;
}

.gifts {
    width: 100%;
    height: 139.4rem;
    background-image: url('../assets/images/gyrland.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifts-content {
    width: 127.6rem;
    height: 127.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
}

.gifts-heading {
    width: 42.6rem;
    height: 14.4rem;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}

.tabs {
    width: 47.4rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.tab {
    padding: 1.2rem 2rem;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.tab.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.2rem;
    cursor: default;
}

.cards-container {
    width: 100%;
    height: 105rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.card {
    width: 31rem;
    height: 34.2rem;
    border-radius: 2rem;
    background-color: rgba(236, 243, 248, 1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card img {
    width: 100%;
    height: 23rem;
}

.text-container {
    height: 9rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0 0 2rem;
    gap: 0.8rem;
    background-color: rgba(255, 255, 255, 1);
}

.subheading {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 148%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.text-container p {
    letter-spacing: 0.09em;
}

.text-container h4:nth-child(1) {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h4.for-work {
    color: #4361FF;
}

h4.for-health {
    color: #06A44F;
}

h4.for-harmony {
    color: #FF43F7;
}

footer {
    width: 100%;
    height: 49.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.caption {
    padding: 0;
    margin: 0;
    font-family: Allura;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.footer-content {
    width: 127.6rem;
    height: 37.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.contacts {
    width: 100%;
    height: 20.4rem;
    display: flex;
    gap: 1.2rem;
}

.contact {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #ECF3F8;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact img {
    width: 8rem;
    height: 8rem;
}

.authors {
    width: 100%;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.socials {
    width: 19.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;
}

.social {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.authors .caption {
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.contact .subheading {
    letter-spacing: 0.09em;
}

.contact .heading {
    letter-spacing: 0.18em;
}


@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Allura;
    src: url('../assets/fonts/Allura-Regular.ttf');
    font-style: normal;
}

@media (hover: hover) {
    .navigation li a:hover {
        color: #FF4646;
        background: rgba(255, 70, 70, 0.1);
        border-radius: 1.2rem;
        transition: all 0.5s ease;
    }

    .navigation li:hover a {
        color: #FF4646;
    }
    
    .tab:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 1.2rem;
        cursor: pointer;
    }

    .card:hover .text-container p {
        color: #FF4646;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }

    .contact:hover h2,
    .contact:hover p {
        color: #FF4646;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }

    .social:hover path {
        stroke: #FF4646;
        transition: all 0.5s ease-in-out;

    }

    .authors .caption:hover {
        color: #FF4646;
    }

}