@media (min-width: 769px) and (max-width: 1280px) {
    

    .header-wrapper {
        width: 75.2rem;
    }

    .navigation {
        max-width: 50rem;
    }

    .gifts {
        height: 245.6rem;
    }

    .gifts-content {
        width: 75.2rem;
        height: 233.6rem;
    }

    .cards-container {
        height: 211.2rem;
    }

    footer {
        height: 92.8rem;
    }

    .footer-content {
        width: 75.2rem;
        height: 80.8rem;
    }

    .contacts {
        height: 63.6rem;
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }


}

@media screen and (width=768px) {
    .hamburger-menu {
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        right: -106vw;
        top: 5.1rem;
        bottom: 0;
        width: 100vw;
        background-color: #FFFF;
        z-index: 2;
        transition: transform 0.5s ease;
    }

    .navigation li a,
    .navigation li.active-link {
        display: block;
        font-size: 2.4rem;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-align: left;
    }


    .navigation.open {
        transform: translateX(-100%);
        visibility: visible;
    }

        .header-wrapper {
            width: 75.2rem;
        }
    
        .gifts {
            height: 245.6rem;
        }
    
        .gifts-content {
            width: 75.2rem;
            height: 233.6rem;
        }
    
        .cards-container {
            height: 211.2rem;
        }
    
        footer {
            height: 92.8rem;
        }
    
        .footer-content {
            width: 75.2rem;
            height: 80.8rem;
        }
    
        .contacts {
            height: 63.6rem;
            flex-direction: column;
        }
    
        .contact {
            width: 100%;
        }
}


@media(min-width: 380px) and (width < 767px) {
    .hamburger-menu {
        display: block;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        right: -111vw;
        top: 5.1rem;
        bottom: 0;
        width: 100vw;
        background-color: #FFFF;
        z-index: 2;
        transition: transform 0.5s ease;
    }
    
    .navigation li a, .navigation li.active-link {
        display: block;
        font-size: 2.4rem;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-align: left;
    }
    
    
    .navigation.open {
        transform: translateX(-100%);
        visibility: visible;
    }

    .header-wrapper {
        width: 36.4rem;
    }
    
    .gifts {
         height: 467.6rem;
    }
    
    .gifts-content {
        width: 36.4rem;
        height: 455.6rem;
    }
    
    .cards-container {
        height: 423.6rem;
    }

    .gifts-heading {
        width: 36.4rem;
        height: 24rem;
    }

    .tabs {
        width: 35.4rem;
    }

    .tab {
        padding: 1.2rem 0.8rem;
    }

    footer {
        height: 92.8rem;
    }
    
    .footer-content {
        width: 36.4rem;
        height: 80.8rem;
    }
    
    .contacts {
        height: 63.6rem;
        flex-direction: column;
    }
    
    .contact {
        width: 100%;
    }
}