@media (min-width: 768px) and (max-width: 1439px) {
    /* html {
        font-size: clamp(1vw, 1.302vw, 10px);
    } */

    .header-wrapper {
        width: 75.2rem;
    }

    .about-content {
        width: 75.2rem;
    }

    .text-content {
        width: 25.6rem;
        height: 43.6rem;
    }

    .about-img {
        width: 50%;
        height: 100%;
    }


    .hamburger-menu {
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        right: -106vw;
        top: 5.1rem;
        bottom: 0;
        width: 100vw;
        background-color: #FFFF;
        z-index: 2;
        transition: transform 0.5s ease;
    }

    .navigation li a {
        display: block;
        font-size: 2.4rem;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-align: left;
    }


    .navigation.open {
        transform: translateX(-100%);
        visibility: visible;
    }

    .slider-content {
        width: 75.2rem;
    }

    .slider-wrapper {
        width: 75.2rem;
    }

    .best-gifts {
        height: 90.8rem;
    }

    .best-gifts-content {
        width: 75.2rem;
        height: 78.8rem;
    }

    footer {
        height: 92.8rem;
    }

    .footer-content {
        width: 75.2rem;
        height: 80.8rem;
    }

    .contacts {
        height: 63.6rem;
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

}


@media(min-width: 380px) and (width < 768px) {
    /* html {
            font-size: clamp(0.1vw, 2.63vw, 10px);
        } */

    .header-wrapper {
            width: 36.4rem;
        }
    
        .hero {
            height: 57.2rem;
        }

        .about {
            height: 100rem;
        }
    
        .about-content {
            width: 36.4rem;
            height: 88rem;
            flex-direction: column;
            align-items: center;
        }
    
        .text-content {
            width: 32.4rem;
            height: 40%;
            align-items: center;
            justify-content: center;
        }

        .text-about {
            width: 32.4rem;
            padding: 0;
            height: 40%;
        }
    
        .about-img {
            width: 100%;
            height: 60%;
        }
    
        .hamburger-menu {
            display: block;
        }
    
        .navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            height: 100vh;
            right: -111vw;
            top: 5.1rem;
            bottom: 0;
            width: 100vw;
            background-color: #FFFF;
            z-index: 2;
            transition: transform 0.5s ease;
        }
    
        .navigation li a {
            display: block;
            font-size: 2.4rem;
            line-height: 152%;
            letter-spacing: 0.16em;
            text-align: left;
        }
    
    
        .navigation.open {
            transform: translateX(-100%);
            visibility: visible;
        }
    
        .slider-content {
            width: 36.4rem;
        }
    
        .slider-wrapper {
            width: 36.4rem;
        }
    
        .best-gifts {
            height: 161.6rem;
        }
    
        .best-gifts-content {
            width: 36.4rem;
            height: 149.6rem;
        }

        .cta {
            height: 70.4rem;
        }

        .cta-content {
            width: 36.4rem;
            height: 58.4rem;
        }
    
        footer {
            height: 92.8rem;
        }
    
        .footer-content {
            width: 36.4rem;
            height: 80.8rem;
        }
    
        .contacts {
            height: 63.6rem;
            flex-direction: column;
        }
    
        .contact {
            width: 100%;
        }
    
}