html {
    scroll-behavior: smooth;
}

body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    /* width: 1440px; */
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
    margin-top: -1px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
}

.header-wrapper {
    width: 1276px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 141px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    width: 24px;
    height: 24px;
}

h1 {
    margin: 0;
    width: 69px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.navigation {
    width: 1123px;
    height: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.navigation li {
    padding: 12px 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    color: #181C29;
    transition: all 0.05ms ease;
}

.navigation li:hover {
    color: #FF4646;
    background:  rgba(255, 70, 70, 0.1);
    border-radius: 12px;
}

.hero {
    width: 100%;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    height: 524px;
    /* background-color:  rgba(255, 70, 70, 1); */
    background-image: url('./assets/images/christmas-ball.png'),
            url('./assets/images/snow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 426px;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 60px 0;
}

.caption {
    padding: 0;
    margin: 0;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.hero-header {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

button.explore {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    border: none;
    padding: 20px 32px;
    background:  #181C29;
    font-family: Montserrat;
    font-size: 11.9px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #FFFFFF;
    transition: all 0.05s ease-in-out;
}

button.explore:hover {
    background: #FFFFFF;
    color: #181C29;

}


.about {
    width: 100%;
    height: 648px;
    /* background-color: rgba(255, 70, 70, 1); */
    background-image: url('./assets/images/about-snow.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 1276px;
    height: 528px;
    border-radius: 20px;
    background-color:  #FFFFFF;
    display: flex;
}

.text-about {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.text-content {
    width: 426px;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.text-content .caption {
    width: 100%;
    color: #FF4646;
    text-align: start;
}

.heading {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#181C29;
    margin: 0;
}

.subheading {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    /* letter-spacing: 0.09em; */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.about-content img {
    border-radius: 20px;
}

.slider {
    width: 100%;
    height: 488px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 70, 70, 1); */
    background-image: url('./assets/images/about-snow.png');
}

.slider-content {
    width: 1276px;
    height: 368px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-header {
    width: 426 px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.section-header .heading {
    color:#FFFFFF;
    text-align: center;
}

.slider-wrapper {
    width: 1276px;
    height: 200px;
}

.slider-row {
    width: 1993px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.slider-text {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 97.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.slider-row img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.slider-buttons-wrapper {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.arrow {
    width: 56px;
    height: 56px;
    appearance: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 16px;
    background-color: transparent;
    transition: all 0.05s ease-in-out;
}

.arrow:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

.arrow:disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
}

.arrow:hover {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.arrow:hover svg path {
    stroke: #FF4646;
}

.arrow:disabled:hover svg path {
    stroke: #FFFFFF;
}

.best-gifts {
    width: 100%;
    height: 554px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 70, 70, 1); */
    background-image: url('./assets/images/about-snow.png');
}

.best-gifts-content {
    width: 1276px;
    height: 434px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards-container {
    width: 100%;
    height: 342px;
    display: flex;
    gap: 12px;
}

.card {
    width: 310px;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(236, 243, 248, 1);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.card:hover .text-container p {
    color: #FF4646;
    font-weight: 600;
}

.card img {
    width: 100%;
    height: 230px;
}

.text-container {
    height: 90px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0px 0px 20px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.text-container p {
    letter-spacing: 0.09em;
}

.text-container h4:nth-child(1) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h4.for-work {
    color: #4361FF;
}

h4.for-health {
    color: #06A44F;
}

h4.for-harmony {
    color:  #FF43F7;
}

.cta {
    width: 100%;
    height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 70, 70, 1); */
    background-image: url('./assets/images/about-snow.png'), url('./assets/images/bg-forest.png');
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        
}

.cta-content {
    width: 1276px;
    height: 548px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-container {
    width: 426px;
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cta-container .heading {
    color: #FFFFFF;
    text-align: center;
}

.timer {
    width: 344px;
    height: 72px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    width: 100%;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.time {
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
}

.vertical-line {
    width: 1px;
    height: 20px;
    background:  rgba(255, 255, 255, 0.4);
}

.time p:nth-child(2) {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}

footer {
    width: 100%;
    height: 496px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 1276px;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.contacts {
    width: 100%;
    height: 204px;
    display: flex;
    gap: 12px;
}

.contact {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #ECF3F8;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.contact:hover h2, .contact:hover p {
    color:#FF4646;
    font-weight: 600;
}

.contact img {
    width: 80px;
    height: 80px;
}

.authors {
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.socials {
    width: 196px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.social {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.05s ease-in-out;
}


.social:hover path {
    stroke: #FF4646;
}

.authors .caption {
    color: #181C29;
    transition: all 1s ease-in-out;
}

.authors .caption:hover {
    color: #FF4646;
}

.contact .subheading {
    letter-spacing: 0.09em;
}

.contact .heading {
    letter-spacing: 0.18em;
}









@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Allura;
    src: url('./assets/fonts/Allura-Regular.ttf');
    font-style: normal;
}