html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
}

.header-wrapper {
    width: 1276px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 141px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    width: 24px;
    height: 24px;
}

h1 {
    margin: 0;
    width: 69px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.navigation {
    width: 1123px;
    height: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.navigation li {
    padding: 12px 20px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.hero {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 524px;
    background-color:  rgba(255, 70, 70, 1);
    background-image: url('./assets/images/christmas-ball.png'),
            url('./assets/images/snow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 426px;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 60px 0;
}

.caption {
    padding: 0;
    margin: 0;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.hero-header {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

button.explore {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    padding: 20px 32px;
    background:  #181C29;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #FFFFFF;
}


@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Allura;
    src: url('./assets/fonts/Allura-Regular.ttf');
    font-style: normal;
}