html {
    scroll-behavior: smooth;
    font-size: 10px;
    /* font-size: clamp(0.1vw, 0.694vw, 10px); */
}

body {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0;
}

a, a:active {
    text-decoration: none;
    color: #181C29;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 70, 70, 1);
    border-radius: 2rem;
    margin-top: -0.1rem;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.4rem;
    background: #FFFFFF;
}

.header-wrapper {
    width: 127.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 14.1rem;
    height: 4rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.logo img {
    width: 2.4rem;
    height: 2.4rem;
}

.container h2 {
    margin: 0;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
}

.navigation {
    width: 112.3rem;
    height: 4rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.8rem;
}

.navigation li {
    list-style-type: none;
    display: flex;
}

.navigation li a {
    box-sizing: border-box;
    padding: 1.2rem 2rem;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    cursor: pointer;
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.navigation li a:hover {
    color: #FF4646;
    background:  rgba(255, 70, 70, 0.1);
    border-radius: 1.2rem;
    transition: all 0.5s ease;
}

.navigation li:hover a {
    color: #FF4646;
}

.hamburger-menu {
    display: none;
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 3;
    cursor: pointer;
}


#menu-toggle {
    display: none;
}

.menu-button {
    display: block;
    position: relative;
    background: transparent;
}

.menu-button:before,
.menu-button:after {
    content: '';
    background-color: #181C29;
    position: absolute;
    width: 20px;
    height: 1px;
    left: 10px;
    transition: transform 0.3s ease;
}


.menu-button:before {
    top: 15px;
}


.menu-button:after {
    top: 24px;
}

.navigation.open ~ .hamburger-menu .menu-button:before {
    transform: rotateZ(45deg);
    left: 1rem;
    top: 1rem;
}

.navigation.open ~.hamburger-menu .menu-button:after {
    transform: rotateZ(135deg);
    left: 1rem;
    top: 1rem;
}

.hero {
    width: 100%;
    height: 52.4rem;
    background-image: url('./assets/images/christmas-ball.png'),
            url('./assets/images/snow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 42.6rem;
    height: 40.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 6rem 0;
}

.caption {
    padding: 0;
    margin: 0;
    font-family: Allura;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.hero-header {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.explore {
    border-radius: 2rem;
    border: none;
    padding: 2rem 3.2rem;
    background:  #181C29;
    font-family: Montserrat;
    font-size: 1.19rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.explore:hover {
    background: #FFFFFF;
    color: #181C29;
    transition: all 0.5s ease;
}


.about {
    width: 100%;
    height: 64.8rem;
    background-image: url('./assets/images/about-snow.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 127.6rem;
    height: 52.8rem;
    border-radius: 2rem;
    background-color:  #FFFFFF;
    display: flex;
}

.text-about {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.text-content {
    width: 42.6rem;
    height: 32.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.text-content .caption {
    width: 100%;
    color: #FF4646;
    text-align: start;
}

h2.heading {
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#181C29;
    margin: 0;
}

.subheading {
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 148%;
    text-align: left;
    /* letter-spacing: 0.09em; */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #181C29;
    margin: 0;
}

.about-img img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    width: 100%;
    height: 48.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/images/about-snow.png');
}

.slider-content {
    width: 127.6rem;
    height: 36.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-header {
    width: 42.6rem;
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

.section-header .heading {
    color:#FFFFFF;
    text-align: center;
}

.slider-wrapper {
    width: 127.6rem;
    height: 20rem;
}

.slider-row {
    width: 199.3rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.slider-text {
    font-family: Montserrat;
    font-size: 8rem;
    font-weight: 600;
    line-height: 122%;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.slider-row img {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
}

.slider-buttons-wrapper {
    width: 100%;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.arrow {
    width: 5.6rem;
    height: 5.6rem;
    appearance: none;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    padding: 1.6rem;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.arrow:disabled {
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

.arrow:disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    transition: all 0.5s ease;
}

.arrow:hover {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.arrow:hover svg path {
    stroke: #FF4646;
}

.arrow:disabled:hover svg path {
    stroke: #FFFFFF;
}

.best-gifts {
    width: 100%;
    height: 55.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/about-snow.png');
}

.best-gifts-content {
    width: 127.6rem;
    height: 43.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards-container {
    width: 100%;
    height: 34.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.card {
    width: 31rem;
    height: 34.2rem;
    border-radius: 2rem;
    background-color: rgba(236, 243, 248, 1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card:hover .text-container p {
    color: #FF4646;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.card img {
    width: 100%;
    height: 23rem;
}

.text-container {
    height: 9rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0px 0px 2rem;
    gap: 0.8rem;
    background-color: rgba(255, 255, 255, 1);
}

.text-container p {
    letter-spacing: 0.09em;
}

.text-container h4:nth-child(1) {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h4.for-work {
    color: #4361FF;
}

h4.for-health {
    color: #06A44F;
}

h4.for-harmony {
    color:  #FF43F7;
}

.cta {
    width: 100%;
    height: 66.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/about-snow.png'), url('./assets/images/bg-forest.png');
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        
}

.cta-content {
    width: 127.6rem;
    height: 54.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cta-container {
    width: 42.6rem;
    height: 42.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cta-container .heading {
    color: #FFFFFF;
    text-align: center;
}

.timer {
    width: 34.4rem;
    height: 7.2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    width: 100%;
    height: 10.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.time {
    width: 8rem;
    height: 5.2rem;
    display: flex;
    flex-direction: column;
}

.vertical-line {
    width: 0.1rem;
    height: 2rem;
    background:  rgba(255, 255, 255, 0.4);
}

.time p:nth-child(2) {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}

footer {
    width: 100%;
    height: 49.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 127.6rem;
    height: 37.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.contacts {
    width: 100%;
    height: 20.4rem;
    display: flex;
    gap: 1.2rem;
}

.contact {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    border-radius: 2rem;
    background-color: #ECF3F8;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.contact:hover h2, .contact:hover p {
    color:#FF4646;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.contact img {
    width: 8rem;
    height: 8rem;
}

.authors {
    width: 100%;
    height: 11.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.socials {
    width: 19.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;
}

.social {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}


.social:hover path {
    stroke: #FF4646;
    transition: all 0.5s ease-in-out;

}

.authors .caption {
    color: #181C29;
    transition: all 0.5s ease-in-out;
}

.authors .caption:hover {
    color: #FF4646;
}

.contact .subheading {
    letter-spacing: 0.09em;
}

.contact .heading {
    letter-spacing: 0.18em;
}









@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Allura;
    src: url('./assets/fonts/Allura-Regular.ttf');
    font-style: normal;
}