html {
    height: 100%;
    background-color: grey;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 100%;
    background-color: white;
    user-select: none;
    font-family: monospace;
}

.header {
    padding: 10px;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 25px;
}

h1 {
    margin: 0;
    line-height: 30px;
}

.controls {
    flex: 15%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 10px 5px 0 5px;
}

.level {
    flex: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.template {
    flex: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.timer {
    flex: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.game-field {
    flex: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: white;
    font-family: monospace;
    border-radius: 5px;
    cursor: pointer;
}

.difficulty-level {
    max-height: 30px;
    max-width: 100px;
    text-align: center;
    font-weight: bold;
}

.template-field {
    max-height: 30px;
    max-width: 100px;
    text-align: center;
    font-weight: bold;
}

.save-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.save,
.load,
.reset,
.random,
.show-solution,
.result-list,
.themes {
    background-color: #fff;
    font-family: monospace;
    border-radius: 5px;
    white-space: pre-line;
    cursor: pointer;
}

.themes img {
    width: 25px;
}

button:active {
    background-color: rgb(100, 100, 100);
}

.active {
    background-color: rgb(100, 100, 100);
}


.game-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
}

.cell {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.clicked {
    background-color: black;
}

.crossed {
    position: relative;
}

.crossed::before,
.crossed::after {
    content: '';
    position: absolute;
    background-color: black;
    border-radius: 100px;
}

.crossed::before {
    top: -10%;
    left: 45%;
    width: 10%;
    height: 120%;
    transform: rotate(45deg);
}

.crossed::after {
    top: 45%;
    left: -10%;
    width: 120%;
    height: 10%;
    transform: rotate(45deg);
}

.cell-border-right {
    border-right: 2px solid #333;
}

.cell-border-bottom {
    border-bottom: 2px solid #333;
}

.first-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: 2px;
}

.first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    white-space: pre-line;
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 2px;
}

.modal-top-scores {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-top-scores ol {
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 7%;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    white-space: pre-line;
}

.modal-top-scores li {
    margin-top: 10px;
}


.modal-victory {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-victory__button {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
}

body.dark-theme {
    background-color: #333;
    color: #ccc;
}

body.dark-theme .game-container {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

body.dark-theme .cell {
    background-color: #888;
}

body.dark-theme .cell.clicked {
    background-color: rgb(0, 0, 0);
}

body.dark-theme .cell-border-bottom {
    border-bottom: 2px solid #fff;
}

body.dark-theme .cell-border-right {
    border-right: 2px solid #fff;
}

body.dark-theme button {
    background-color: rgba(141, 141, 141, 0.521);
    color: #ccc;
}

body.dark-theme button:active {
    background-color: rgb(82, 82, 82);
}

body.dark-theme .active {
    background-color: rgb(83, 83, 83);
}

body.dark-theme .cell.solution {
    background-color: rgb(37, 37, 37);
}

body.dark-theme .modal-top-five ol {
    background-color: #444;
}

.solution {
    background-color: rgb(153, 153, 153);
}

